.tab {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: white;
  font-family: "Roboto", sans-serif;
}
.tab:hover {
  color: #ea4f4c;
  background-color: #222;
}
.body {
  font-family: "Roboto", sans-serif;
}

.tab1 {
  border-radius: 5%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  width: 100px;
  transition: all 0.3s ease-in-out;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: black;
}
.tab1:hover {
  /* font-weight: bolder; */
  color: white;
  background-color: #222 !important;
  /* border: "2px"; */
}
